<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @user.department.department_name %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @user.branch.branch_name %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @user.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @user.updated_by %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @user.active %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @user.email_address %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
